<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="bg-white px-6 py-12 shadow-xl sm:rounded-lg sm:px-12">
        <%= form_with model: patient, class:"space-y-6" do |f| %>

        <% if f.object.errors.any? %>
            <% f.object.errors.full_messages.each do |message| %>
            <div><%= message %></div>
            <% end %>
        <% end %>

        <div class="grid grid-cols-2 gap-4">
            <div class="py-3">
                <%= f.label :name, class:"block text-sm font-medium leading-6 text-gray-900"  %>
                <div class="mt-2">
                    <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6" %>
                </div>
            </div>

            <div class="py-3">
                <%= f.label :age, class:"block text-sm font-medium leading-6 text-gray-900"  %>
                <div class="mt-2">
                    <%= f.number_field :age, autofocus: true, autocomplete: "name", class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6" %>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4">
            <div class="py-3">
                <%= f.label :contact, class:"block text-sm font-medium leading-6 text-gray-900"  %>
                <div class="mt-2">
                    <%= f.text_field :contact, autofocus: true, autocomplete: "name", class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6" %>
                </div>
            </div>
            <div class="py-3">
                <%= f.label :gender, class:"block text-sm font-medium leading-6 text-gray-900"%>
                <div class="mt-2">
                    <%= f.select :gender, [['Male'], ['Female'], ['Other'] ], { include_blank: 'Select Gender' }, class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6"%>
                </div>
            </div>
        </div>

        <div>
          <%= f.label :blood_type, "Blood Type", class: "block text-sm font-medium leading-6 text-gray-900" %>
          <%= f.select :blood_type, [['A+'], ['A-'], ['B+'], ['B-'], ['AB+'], ['AB-'], ['O+'], ['O-']], 
            { include_blank: 'Select Blood Type' }, 
            class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6" %>
        </div>

        <div class="grid grid-cols-2 gap-4">
            <div class="py-3">
                <%= f.label :height, class:"block text-sm font-medium leading-6 text-gray-900"  %>
                <div class="mt-2">
                    <%= f.number_field :height, autofocus: true, autocomplete: "name", class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6" %>
                </div>
            </div>

            <div class="py-3">
                <%= f.label :weight, class:"block text-sm font-medium leading-6 text-gray-900"  %>
                <div class="mt-2">
                    <%= f.number_field :weight, autofocus: true, autocomplete: "name", class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6" %>
                </div>
            </div>
        </div>

        <div class="py-3">
            <%= f.label :health_issue, class:"block text-sm font-medium leading-6 text-gray-900"  %>
            <div class="mt-2">
                <%= f.text_area :health_issue, autofocus: true, autocomplete: "name", class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6" %>
            </div>
        </div>

        <div>
          <%= f.submit "Submit", class:"flex w-full justify-center rounded-md bg-primary px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-primary-dark focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"%>
        </div>
    </div>
    <% end %>
</div>