<div class="bg-white rounded-lg shadow mb-6">
	<div class="flex justify-between items-center p-6 border-b border-gray-200">
      <h2 class="text-lg font-semibold text-gray-900">Registered Patients</h2>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-4">
    	<% @patients.each do |patient| %>
    	<div class="bg-white shadow-md rounded-lg p-6 hover:shadow-lg transition-shadow duration-200">
    		<div class="flex items-center space-x-4 mb-4">
    			<div>
    				<h3 class="text-gray-900 font-medium text-lg"><%= patient.name %></h3>
    				<p class="text-gray-500 text-sm"><%= patient.gender %>, <%= patient.age %> Years</p>
    			</div>
    		</div>

    		<div class="text-gray-600 text-sm space-y-2">
    			<p><strong>Contact:</strong> <%= patient.contact %></p>
    			<p><strong>Health Issue:</strong> <%= patient.health_issue %></p>
    			<div class="flex space-x-4 mt-4">
    				<%= link_to 'Detail', patient_path(patient), class: 'text-blue-500 hover:underline' %>
    			</div>
    		</div>
    	</div>
    	<% end %>
    </div>
    <div class="flex justify-between items-center p-6 border-t border-gray-200">
        <%= link_to "Back", root_path, class: "text-blue-900" %>
        <div class="pagination hover:text-blue-900">
          <%= paginate @patients %>
        </div>
    </div>
</div>

