<h1><%= @patient.name %></h1>

<p><%= @patient.age %></p>
<p><%= @patient.gender %></p>
<p><%= @patient.contact %></p>
<p><%= @patient.health_issue %></p>

<ul>
  <li><%= link_to "Back", root_path %></li>
</ul>
