<!DOCTYPE html>
<html>
    <head>
        <title><%= content_for(:title) || "Health Portal" %></title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= yield :head %>

        <link rel="manifest" href="/manifest.json">
        <link rel="icon" href="/icon.png" type="image/png">
        <link rel="icon" href="/icon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/icon.png">
        <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
        
        <%= javascript_importmap_tags %>
    </head>

    <body>
        <% if notice.present? %>
          <div class="fixed top-5 left-5 bg-green-500 text-white text-sm px-6 py-3 rounded shadow flex items-center">
            <span><%= notice %></span>
            <button onclick="this.parentElement.style.display='none'" class="ml-4 text-white hover:text-gray-200">&times;</button>
          </div>
        <% end %>

        <% if alert.present? %>
          <div class="fixed top-5 left-5 bg-red-500 text-white text-sm px-6 py-3 rounded shadow flex items-center">
            <span><%= alert %></span>
            <button onclick="this.parentElement.style.display='none'" class="ml-4 text-white hover:text-gray-200">&times;</button>
          </div>
        <% end %>



        <% if controller_name != 'registrations' && controller_name != 'sessions'  %>
            <%= render "layouts/header" %>
        <% end %>
        <%= yield %>
    </body>
</html>
